/config.txt
/exp*_run_*
/exp*_test_*
/exp*_RDrun_*
/exp*_active_*
/configs/trash/
__pycache__
slurm*
/*_run_*-*-*_*
/debug
/pretrained_models
/data
/results
/backup
/pretrained
/venv
.vscode
Design-18-exp.code-workspace
exp_pl_534_lit-pcba_backup

config-*.txt
config-*.yaml
SUBMIT_TRAIN-*.sbatch
subjob.pbs
*.csv
SUBMIT_PRED.sbatch